{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
This was the last question. Thank you for participating in this study.
{% endblock %}


{% block content %}
    
    <p> <strong>
    You will receive a detailed feedback e-mail within ten days. 
    Your payment for participating in this study will be made through Prolific. </strong></p>

    <p> <strong>
       Please click on "Go back to Prolific" to mark your participation in this study as completed.
         </strong></p>

         <p>  <strong> <a href="https://app.prolific.co/submissions/complete?cc=700842EF">Go back to Prolific.</a> </strong> </p>

        
        

{% endblock %}
