{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
 The Tournament 
{% endblock %}


{% block content %}
    <p>
    <b> <u>Group allocation:</u> </b> You take part in the tournament in a group of six participants, three women and three men.
        The groups are formed randomly and stay the
        same throughout the study. </p>
    
    <br>
    <p> 
    <b> <u>Rules of the tournament:</u> </b> </p>
    
    <p> In the tournament two winners are determined. The winners are the two participants with highest final performance
        (= number of correctly encoded words x multiplier). The two winners receive a prize of 6 USD, while the other four
        tournament participants receive no prize  </p>

    <p> So your payment depends on how high your final performance is compared to
        the other five tournament participants </p>
    
    <br>

    <p> In addition, a <b>special rule might</b> be applied: At least one winner must be a woman who has the low multiplier of 0.9. If this is
        not automatically the case given the final performances of the tournament participants, the women with the highest performance of the three women will replace
        the tournament participant with the second highest final performance as a winner. </p>
        

    <p> If there is a tie between two tournament participants, the winner will be determined randomly.</p>
 
    <br>

    <p>
    <b> <u>Choice of the tournament rule:</u> </b> Whether or not this special rule is applied to the tournament depends on 
    <b><i>the decisions of the tournament participants.</i></b>  Each will
        choose whether or not they want the special rule to be applied. One tournament
        participant’s choice will be randomly selected to be implemented for the whole
        group. This means there is a 1/6 probability that your choice will be implemented. </p>
    
    <p> </p>
{% next_button %}

{% endblock %}