{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
 Your Choice 
{% endblock %}


{% block content %}
 
 <ul>
  <li><p> <b>The special rule is not applied:</b> The two tournament participants with highest final performance 
    (= number of correctly encoded words x multiplier) are the two winners of the tournament, regardless of whether they are in the Green Group or the Blue Group.</p></li>
    
    <p> or </p>
    
    <li><p> <b>The special rule is applied: </b> At least one winner must be a member of the Green Group who has the low multiplier of 0.9. 
    If this is not automatically the case, the tournament participant with the highest performance among the three members of the Green Group
     will replace the tournament participant with the second highest final performance as a winner.</p></li>
</ul>
<br>
 <p><b> Which rule do you choose? Please note that this is an important choice because it may affect all tournament participants' earnings. </b> </p>
  <p> </p>
   {% formfields %}
    
  <p> </p>
<br>
{% next_button %}

{% endblock %}