{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Welcome! Thank you for participating in this study!
{% endblock %}


{% block content %}
<br>
    <p> All your decisions and answers will remain confidential and anonymous.  </p>
    
   
    <p> It is essential to participate in the study using a laptop or desktop computer. Participation using phone or tablet is <b> not possible.</b> 
        If you are currently using a phone or tablet, either quit the study or close your browser and follow the link on a laptop or computer instead.</p>

    <p>It is also essential to participate via one of these three browsers: <b>Google Chrome, Microsoft Edge, Firefox.</b>
        If you are currently using a different browser, either quit the study or close your current browser and follow the link on Google Chrome, Microsoft Edge, or Firefox instead.</p>

    <p> Please also ensure you have a stable and fast internet connection and power supply throughout the study. You need a high bandwidth so that the study runs smoothly. 
    If the connection is interrupted and you drop out of the study, you will likely not be able to continue participating in the study and therefore will not be paid.
    </p>

    <br>
    <p> <b> Structure of the study:</b> </p>

    <p>
        During this study, you will participate in a tournament, in a decision-making task and answer a questionnaire. 
        Unlike what you may be used to not only your own decisions but also the decisions of other participants will determine your earnings. 
        Your total earnings will be the payment from the tournament plus an additional 4.5 USD. 
    </p>

    <p> You will receive your earnings within ten days after completion of the study via your Prolific account. </p>
    <p> All other explanations will be given in a stepwise manner at the beginning of each part of the study. </p>
    <p> Please do not hesitate to message us on Prolific if anything is unclear. </p>
    </p>
{% next_button %}

{% endblock %}