{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
 Types of Players and Tasks
{% endblock %}
 

{% block content %}
    <p> 
        <b> <u> Task: </u> </b>Some of the other participants of this study are decision makers and complete the same decision-making task as you. 
        Some of the other participants of this study are tournament participants and take part in a tournament.   
         </p>
   
     <br>
    <p>  <b>You are a decision-maker.</b> </p>

    <br>
    
{% next_button %}

{% endblock %}