{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
 Guesses
{% endblock %}


{% block content %}
    
<p> Do you expect female tournament participants (Multiplier of 0.9), to be more or less
    or equally likely to win the tournament <b>with the special rule than without the special rule?</b></p>

    {% formfield player.belief1_specs %}
    <br>
<p> Do you expect male tournament participants (Multiplier of 1), to be more or less
    or equally likely to win the tournament <b>with the special rule than without the special rule?</b></p>

    {% formfield player.belief2_specs %}
    <br>
<p> If you were a tournament participant, would you expect yourself to be more or less or equally
        likely to win the tournament <b> with the special rule than without the special rule?</b></p>

         {% formfield player.belief3_specg %}
           <br>

<p> How do you think the introduction of the special rule affects the probability of winning
     for each gender? (choose one answer)</p>
       
     {% formfield player.belief4_specs %}
        <br>
<p> Please click on More likely. </p>
        
        {% formfield player.attention_check2 %}
        <br>
{% next_button %}

{% endblock %}