{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
  Colors
{% endblock %}


{% block content %}
    <p>
    <b> <u>Color:</u> </b> Each tournament participant is randomly assigned to one of two groups, the Green Group or the Blue Group. 
    This assignment remains the same throughout the study. Half of the tournament participants will be in the Green Group. 
    The other half will be in the Blue Group. Decision makers (as you) are not assigned a group. </p>    
     
    <p> </p> 

{% next_button %}

{% endblock %}